Repository TrainerDex/backend, changes with the labels that .github/labeler.yml gives for each.
All labels: npm, pip, dependencies, frontend, backend, migrations

.github/labeler.yml:

npm:
  - package.json
  - package-lock.json

pip:
  - requirements.txt
  - requirements-dev.txt

dependencies:
  - package.json
  - package-lock.json
  - requirements.txt
  - requirements-dev.txt

frontend:
  - 'assets/**/*'
  - 'trainerdex/templates/**/*'
  - 'trainerdex/static/**/*'

backend:
  - 'community/admin.py'
  - 'community/models.py'
  - 'config/settings.py'
  - 'config/urls.py'
  - 'trainerdex/api/**/*'
  - 'trainerdex/admin.py'
  - 'trainerdex/urls.py'
  - 'trainerdex/models.py'
  - '!trainerdex/pogo_assets/strings.py'
  - '!static/pogo_assets/**/*'

migrations:
  - 'community/migrations/*'
  - 'trainerdex/migrations/*'

Enable workflows on production branch
  .github/workflows/django.yml
  .github/workflows/lint.yml
Labels: backend

Fix Login/Signup
  config/settings.py
  trainerdex/templates/account/account_inactive.html
  trainerdex/templates/account/account_settings.html
  trainerdex/templates/account/base.html
  trainerdex/templates/account/email.html
  trainerdex/templates/account/email_confirm.html
  trainerdex/templates/account/login.html
  trainerdex/templates/account/logout.html
  trainerdex/templates/account/password_change.html
  trainerdex/templates/account/password_reset.html
  trainerdex/templates/account/password_reset_done.html
  trainerdex/templates/account/password_reset_from_key.html
  trainerdex/templates/account/password_reset_from_key_done.html
  trainerdex/templates/account/password_set.html
  trainerdex/templates/account/signup.html
  trainerdex/templates/account/verification_sent.html
  trainerdex/templates/account/verified_email_required.html
  trainerdex/templates/index.html
Labels: frontend, backend

(chore) Bump version
  community/__init__.py
  config/__init__.py
  package-lock.json
  package.json
  trainerdex/__init__.py
Labels: npm, dependencies, backend

Fix JS file
  .gitignore
  webpack.config.js
Labels: backend

(chore) Bump version
  config/__init__.py
  package-lock.json
  package.json
Labels: npm, dependencies, backend

Django Webpack Loader
  .github/workflows/lint.yml
  .gitignore
  assets/src/home.js
  config/settings.py
  package-lock.json
  package.json
  requirements.txt
  trainerdex/templates/base.html
  trainerdex/templates/home.html
  trainerdex/templates/index.html
  trainerdex/urls.py
  webpack.config.js
Labels: npm, pip, dependencies, frontend, backend

Hmm
  .github/workflows/lint.yml
  trainerdex/templates/base.html
  trainerdex/templates/home.html
  webpack.config.js
Labels: frontend, backend

New Crowdin translations by Github Action
  config/locale/de-DE/LC_MESSAGES/django.po
  config/locale/es-ES/LC_MESSAGES/django.po
  config/locale/fr-FR/LC_MESSAGES/django.po
  config/locale/it-IT/LC_MESSAGES/django.po
  config/locale/ja-JP/LC_MESSAGES/django.po
  config/locale/ko-KR/LC_MESSAGES/django.po
  config/locale/pt-BR/LC_MESSAGES/django.po
  config/locale/th-TH/LC_MESSAGES/django.po
  config/locale/zh-HK/LC_MESSAGES/django.po
Labels: backend

Update strings file
  trainerdex/pogo_assets/strings.py
Labels: backend

Update language field on Community
  community/migrations/0003_auto_20200929_2030.py
Labels: backend, migrations

New Crowdin translations by Github Action
  config/locale/de-DE/LC_MESSAGES/django.po
  config/locale/es-ES/LC_MESSAGES/django.po
  config/locale/fr-FR/LC_MESSAGES/django.po
  config/locale/it-IT/LC_MESSAGES/django.po
  config/locale/ja-JP/LC_MESSAGES/django.po
  config/locale/ko-KR/LC_MESSAGES/django.po
  config/locale/pt-BR/LC_MESSAGES/django.po
  config/locale/th-TH/LC_MESSAGES/django.po
  config/locale/zh-HK/LC_MESSAGES/django.po
Labels: backend

New Crowdin translations by Github Action
  config/locale/de-DE/LC_MESSAGES/django.po
  config/locale/es-ES/LC_MESSAGES/django.po
  config/locale/fr-FR/LC_MESSAGES/django.po
  config/locale/ja-JP/LC_MESSAGES/django.po
  config/locale/ko-KR/LC_MESSAGES/django.po
  config/locale/zh-HK/LC_MESSAGES/django.po
Labels: backend

Add BattleHub Strings
  trainerdex/pogo_assets/strings.py
Labels: backend
